#
# This is a sample configuration. It illustrates how to separate static objects
# traffic from dynamic traffic, and how to dynamically regulate the server load.
#
# It listens on 192.168.1.10:80, and directs all requests for Host 'img' or
# URIs starting with /img or /css to a dedicated group of servers. URIs
# starting with /admin/stats deliver the stats page.
#
global
        user haproxy
        group haproxy
        log 127.0.0.1  local0
        log 127.0.0.1  local1 notice
        log 127.0.0.1  local2 info
        pidfile         /var/run/haproxy.pid
        maxconn 10000
        daemon
        #stats socket    /var/run/haproxy.stat mode 600 level admin
        #chroot          /var/empty
        #debug
        #quiet

defaults
        log global
        mode tcp
        option tcplog
        retries 2
        option redispatch
        timeout connect 3000ms
        timeout server 50000ms
        timeout client 50000ms

frontend stats
        bind localhost:9999 # ssl crt /etc/haproxy/haproxy.pem
        stats enable
        stats uri /
        stats refresh 5s
        mode http
        option httplog
        stats realm HAProxy\ Statistics
        #stats auth admin:admin